@import url("https://fonts.googleapis.com/css?family=Fauna+One|Oxygen:400,300,700");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
* {
  box-sizing: border-box;
}
html {
  font-size: 10px;
}
body {
  font-size: 14px;
  line-height: 1.42857143;
  margin: 0;
}
img {
  vertical-align: middle;
}
.App {
  font-family: Oxygen, Helvetica, Arial, sans-serif; }
h1, h2, h3, h4, h5 {
font-family: "Fauna One";
font-weight: 400;
color: #008BF8; }
.NoteForm {
  flex-grow: 1;
  padding: 0 3rem;
}
.NoteForm .form-actions {
  padding-top: 1rem;
  margin-left: -2rem;
  display: flex;
  align-content: center;
}
/*.NoteForm button {
  border: none;
  background: none;
  padding: 0;
}*/
.NoteForm button i.fa {
  color: #999;
  font-size: 2rem;
  margin: 0;
}
.NoteForm form {
  margin: 0 auto;
  max-width: 80rem;
}
input[name="title"] {
  border: none;
  font-size: 200%;
  font-family: "Fauna One";
  color: #008BF8;
  font-weight: 400;
  width: 100%;
}
input[name="title"] {
  outline: none;
}
textarea {
  border-color: #eee;
  width: 100%;
  height: calc(100vh - 140px);
  font-size: 1.3em;
}
.submit{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}
.submit {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    font-family: Oxygen, Helvetica, Arial, sans-serif;
}
.submit:hover {
    background-color: #4CAF50;
    color: white;
}

